#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

&led_strip {
        chain-length = <21>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC  &kp Q  &kp W  &kp E      &kp R      &kp T        &kp Z      &kp U  &kp I      &kp O     &kp P     &kp LBKT
&trans   &kp A  &kp S  &kp D      &kp F      &kp G        &kp H      &kp K  &kp L      &kp SEMI  &kp APOS  &kp MINUS
&trans   &kp Y  &kp X  &kp C      &kp V      &kp B        &kp N      &kp M  &kp COMMA  &kp DOT   &kp FSLH  &trans
                       &sk LSHFT  &kp LCTRL  &kp SPACE    &kp ENTER  &mo 1  &kp BSPC
            >;
        };

        layer_1 {
            bindings = <
&rgb_ug RGB_EFF  &trans  &kp LS(DQT)  &kp LS(LPAR)  &kp LS(RPAR)  &kp LS(EQUAL)    &kp FSLH  &kp N7  &kp N8  &kp N9  &kp MINUS  &trans
&rgb_ug RGB_HUI  &trans  &kp LS(SQT)  &kp LA(N8)    &kp LA(N9)    &kp LS(QMARK)    &kp STAR  &kp N4  &kp N5  &kp N6  &kp PLUS   &trans
&rgb_ug RGB_HUD  &trans  &kp LT       &kp LA(N7)    &kp LA(N0)    &kp LS(EXCL)     &trans    &kp N1  &kp N2  &kp N3  &kp DEL    &trans
                                      &trans        &kp LCTRL     &trans           &trans    &trans  &trans
            >;
        };
    };
};
